@charset "UTF-8";

#searchprogramwrapper
{
margin-left:30px;
overflow:auto;
height:530px;	
}


.search-results-bar
{
padding: 20px;
padding-top: 5px;
padding-bottom: 28px;	
}

.search-results-text
{
font-size:13px;
color:#999;	
}

.sortbywrapper select
{
height: 20px;
font-size: 11px;
margin-bottom: 0px;
width: 100px;
background-color: rgb(241, 241, 241);	
}

.searchresults-container
{

}

.searchresults-row
{
padding:10px;
margin-top:10px;
margin-bottom:10px;	
cursor:pointer;
background-color:#f5f5f5;		
}

.searchresults-row:hover
{
background-color:#e6e7e8;	
}


.search-content-block
{
width: 800px;
margin-left: 20px;
}

.search-img-block
{
width:80px;
height:60px;
border:4px solid #e6e7e8;	
}

.search-img-block img
{
width:80px;
height:60px;	
}

.programrating
{
font-size:13px;
color:#999;	
}

.dateaddedtext
{
font-size:13px;
color:#999;		
}

.search-content-header
{
font-size:16px;
font-weight:600;	
}

 /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-search-program {
        width: 350px;
        padding: 10px;
		padding-bottom: 0px;
padding-top: 7px;
        background: #e6e7e8;
        margin-top:5px;
		margin-bottom:10px;
       
    }
    
    .form-search-program input {
        width: 280px;
        height: 10px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-search-program input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-search-program input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-search-program input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-search-program input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-search-program button {
		overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 30px;
width: 60px;
color: rgb(255, 255, 255);
text-transform: uppercase;
background: rgb(216, 60, 60);
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
font-size: 12px;
    }   
      
    .form-search-program button:hover{		
        background: #e54040;
    }	
      
    .form-search-program button:active,
    .form-search-program button:focus{   
        background: #c42f2f;    
    }
    
    .form-search-program button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-search-program button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-search-program button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-search-program button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }