@charset "UTF-8";

#subscriptionwrapper
{
margin-left:30px;
height:400px;
overflow:auto;	
}

.subscriptionsublinks
{
margin-left:30px;
height:40px;
margin-top:20px;
position:relative;

}

.sublinkborder
{
width:4px;
height:23px;
position:absolute;
left:1px;		
}

.subscriptionsublinks ul
{
list-style-type: none;	
}

.subscriptionsublinks li
{
display:inline;	
margin-right:7px;
padding-right:20px;
padding-left:10px;
padding-top:5px;
font-size:18px;
padding-bottom:5px;
border:1px solid #ccc;
background-color:#f5f5f5;	
}

.subscriptionsublinks li:hover
{
border-bottom:2px solid #f62758 !important;		
}

.subscriptionsublinks li a
{
color:#999;	
}

.subscriptionsublinks li a:hover
{
text-decoration:none;	
}

#box-240-190
{
height:201px;
width:240px;
border:1px solid #d4d5d7;
position:relative;
overflow:hidden;
float:left;
margin-right:20px;
margin-bottom:20px;
-moz-box-shadow: 0 4px 18px -9px #000;
-webkit-box-shadow: 0 4px 18px -9px #000;
box-shadow: 0 4px 18px -9px #000;	
}

#box-240-190-header
{
height:40px;
position:relative;
background-color:#e6e7e8;	
}

#box-240-190-body
{
height:110px;
padding:5px;
font-family:'SEGOEUIL','Open Sans',Verdana,Arial,Helvetica,sans-serif;
color:#848688;	
}


#box-240-190-footer
{
height:40px;
position:relative;	
}


.subheader
{
font-size:23px;
top:7px;
font-family:'SEGOEUIL','Open Sans',Verdana,Arial,Helvetica,sans-serif;
position:absolute;
right:12px;	
}

.subfooter
{
font-size:20px;
top:7px;
font-family:'SEGOEUIL','Open Sans',Verdana,Arial,Helvetica,sans-serif;
position:absolute;
right:12px;	
}

.subfooter a
{
color:#fff;	
}

.subfooter a:hover
{
text-decoration:none;	
}

.boxspan
{
width:8px;
height:40px;
margin-left:0px;
margin-right:4px;	
}

.boxicon
{
padding:5px 3px 0px 3px;	
}